<article class="media content-section">
    <table>
        <tr valign="top">
            <td><img class="rounded-circle post-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" width="10" height="60"></td>
            <td>
                <div class="media-body">
                    <div class="article-metadata">
                        {% set user_link %}
                            <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
                        {% endset %}
                        {{  _('%(username)s said %(when)s',
                                username=user_link, when=moment(post.timestamp).fromNow()) }}
                    </div>
                    <h4><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.body }}</a></h4>
                    <div class="post-food-type">{{ _('Food type:') }} {{ post.food_type }}</div>
                    <div class="post-description">{{ _('Description:') }}: {{ post.description }}</div>
                </div>
            </td>
            <td><a class="text-muted" align="right">{{ post.timestamp.strftime('%Y-%m-%d') }}</a></td>
        </tr>
    </table>
</article>


