{% extends "base.html" %}


{% block content %}

    {% if current_user.is_authenticated %}
        <h1>Hello, {{ current_user.username }}!</h1>
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    {% if prev_url_post %}
        <a href="{{ prev_url_post }}">Newer posts</a>
    {% endif %}

    {% if next_url_post %}
        <a href="{{ next_url_post }}">Older posts</a>
    {% endif %}

    {% for visit in visits %}
        {% include '_visit.html' %}
    {% endfor %}

    {% if prev_url_visit %}
        <a href="{{ prev_url_visit }}">Newer visits</a>
    {% endif %}

    {% if next_url_visit %}
        <a href="{{ next_url_visit }}">Older visits</a>
    {% endif %}



{% endblock %}