{% extends "base.html" %}

{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}" width="140">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile', username=user.username) }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
                {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}
            </div>
        </div>

        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}

        {% for visit in visits %}
            {% include '_visit.html' %}
        {% endfor %}

    </div>

{% endblock %}