{% extends "base.html" %}

{% block content %}

<article class="media content-section">
    <table>
        <tr valign="top">
            <td><img class="rounded-circle post-img" src="{{ url_for('static', filename='profile_pics/' + visit.author.image_file) }}" width="10" height="60"></td>
            <td>
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('user', username=visit.author.username) }}">{{ visit.author.username }}</a>
                    </div>
                    <h4 class="article-title">{{ visit.place }}</h4>
                    <div class="post-food-type">Food type: {{ visit.food_type }}</div>
                    <div class="post-description">Rate: {{ visit.rate }}</div>
                    <div class="post-description">Description: {{ visit.body }}</div>
                </div>
            </td>
            <td><div class="post-timestamp" align="right">{{ visit.timestamp.strftime('%Y-%m-%d') }}</div></td>
        </tr>
    </table>
</article>


{% endblock %}


<h4 class="article-title">{{ visit.body }}</h4>